@import "variables";
@import "~bootstrap/scss/bootstrap";

button:disabled {
	cursor: not-allowed;
}

.blue-act-gradient {
	background: linear-gradient(90deg, $info 65%, $danger 90%);
}

.red-act-gradient {
	background: linear-gradient(90deg, $info 10%, $danger 35%);
}

.blue-red-gradient {
	background: linear-gradient(90deg, $info, $danger);
}

@keyframes champion-active {
	0%, 100% {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}
}

.champion-banned {
	filter: grayscale(1);
}

.champion-banned::after {
	content: "🚫";
	font-size: 16px;
	opacity: 0.5;

	position: absolute;
	right: 0;
	bottom: 0;
}

.champion-active {
	outline: 5px solid $warning !important;
	animation: champion-active 2s infinite ease-in-out;
}
